
<header>        
<%= render "shared/header" %>
</header>
<div class = "form-container container">
  <h4>プロフィール編集</h4>

  <%= form_for @user do |f| %>
    <div class = "col-12">
      <%= f.label :profile_image_id,"アイコン画像",class: "form-label"%>
      <%= f.file_field :profile_image_id , class:"form-control" %>
    </div>
    <div class = "col-12">
      <%= f.label :name,"名前" ,class: "form-label"%>
      <%= f.text_field :name, class:"form-control"%>
    </div>
    <div class = "col-12">
      <%= f.label :profile,"自己紹介",class: "form-label"%>
      <%= f.text_area :profile , class:"form-control"%>
    </div>
    <div class = "w-100 mt-2 pr-3 d-flex justify-content-end">
    <%= link_to "キャンセル", user_path(current_user), class: "btn btn-primary ml-1" %>
      <%= f.submit "更新", class: "btn btn-primary ml-1" %>
    </div>
  </form>
  
    

</div>
<% end %>

        
