<h1>Homeindex</h1>
<header>        
<%= render "shared/header" %>
</header>


<div class="top-container">
  <div class="container">
    <h1 class="title">Potepanshareで<br>まだ体験したことのない<br>旅をしよう</h1>
    <div class="search">
      <%= form_with url: rooms_path,method: :get, local: true do |f| %>
        <%= f.text_field :search_area, placeholder: "エリア名を入力",class: "form-group"%>
        <%= f.text_field :search_keyword, placeholder: "キーワードを入力",class: "form-group"%>
        <%= f.submit "検索" ,class: "btn top_button"%>
      <% end %>
    </div>
  </div>
</div>



   
   

