<header>        
<%= render "shared/header" %>
</header>
<body>
<div class="FormWrapper container">
<h2 class="confirm-title">予約確認</h2>





<%= form_with model: @reservation do |f| %>
    <%= f.hidden_field :checkin, value: @reservation.checkin %>
    <%= f.hidden_field :checkout, value: @reservation.checkout %>
    <%= f.hidden_field :numberpeople, value: @reservation.numberpeople %>
<div class="confirm-value-group">
    <dt class="confirm-label">チェックイン</dt>
    <dd class="confirm-value"><%= @reservation.checkin %></dd>
</div>
<div class="confirm-value-group">
  <dt class="confirm-label">チェックアウト</dt>
  <dd class="confirm-value"><%= @reservation.checkout %></dd>
</div>
<div class="confirm-value-group">
  <dt class="confirm-label">人数</dt>        
  <dd class="confirm-value"><%= @reservation.numberpeople %>人</dd>
</div>
<div class="confirm-value-group">
  <dt class="confirm-label">日数</dt>
  <dd class="confirm-value"><%= @reservation.days %>日</dd>
</div>
<div class="confirm-value-group">

<div class="confirm-value-group">
  <dt class="confirm-label">合計金額</dt>
  <dd class="confirm-value"><%= @reservation.cost %>円</dd>
</div>
<%= f.hidden_field :user_id, value: @user.id %>
<%= f.hidden_field :room_id, value: @room.id %>
<div>
   <li><%= f.submit "登録完了する"%></li>
   <li><%= link_to "キャンセル", room_path %>
   
<% end %>

</body>
