<body>
<header>        
<%= render "shared/header" %>
</header>
<div class = "container w-auto">
  <div class="page-title mt-2">
    <h4>登録済み一覧</h4>
  </div>
  <table class="table align-middle OwnRoomsTable">
    <thead>
      <tr>
        <th>画像</th>
        <th>施設名</th>
        <th>住所</th>
        <th>紹介文</th>
        <th>料金</th>
        <th>作成日</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
    <% @rooms.each do |room| %>
      <td class="w-25"><%= image_tag room.image.blank? ? 'default-image.png' : room.image.url ,class: "w-100"%></td>
      <td><%= link_to "#{room.name}",room,method: :get,class: "text-primary"%></td>
      <td><%= room.address %></td>
      <td><%= room.introduction %></td>
      <td><%= number_to_currency(room.price, :unit => "￥",:precision => 0) %>~</td>
      <td><%= room.created_at.strftime("%Y/%m/%d")  %></td>
      <td>
      <a class="nav-link dropdown-toggle text-primary" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="dropdownMenuLink"></a>
      <div class="dropdown-menu">
        <%= button_to "削除する", room, data: { confirm: "本当によろしいですか？" }, method: :delete, class: "dropdown-item text-primary" %>
      </div>
        
      </td>
    </tr>
  </tr>
  <% end %>
</tbody>
</table>

</body>
