<header>        
<%= render "shared/header" %>
</header>


<body>
  
<div class = "container w-auto">
    <div class="page-title mt-2">
      
    <%= render "shared/error", obj: @reservation %>
</div>
  
<table>
  <tr>
    <th>施設名</th>
    <td><%= @room.name %></td>
  </tr>

  <tr>
    <th>住所</th>
    <td><%= @room.address %></td>
  </tr>

  <th>詳細</th>
    <td><%= @room.introduction %></td>
  </tr>

  <th>値段</th>
    <td><%= @room.price %></td>
  </tr>
  <th>画像</th>
  <td class="w-25"><%= image_tag @room.image.blank? ? 'default-image.png' : @room.image.url ,class: "w-100"%></td>

 </table>


<%= form_with model: @reservation,url:confirm_reservation_path  do |f| %>
  <table>            
  
    <tr>
      <th><%= f.label :start ,"チェックイン" %></th>
      <td><%= f.date_select :checkin %></td>
    </tr>

    <tr>
      <th><%= f.label :finish ,"チェックアウト" %></th>
      <td><%= f.date_select :checkout %></td>
    </tr> 
    <th>
      <%= f.label :numberpeople,"人数",class: "form-label"%>
      <%= f.select :numberpeople, 1..100 %>
    </th>
      
  </table>
    <%= f.hidden_field :user_id, value: @user.id %>
    <%= f.hidden_field :room_id, value: @room.id %>
  <div>
       <ul>
         <li><%= f.submit "予約する"%></li>
         <li><%= link_to "キャンセル", own_rooms_path %>
       </ul>
  </div>

  <% end %>
</body>


